<%- include ../partials/homeheader %>
<div style="margin: 250px auto;text-align: center;height: 100vh;">
    <p> PLEASE CHECK YOUR REGISTERED EMAIL</p>
    <p>  A PASSWORD RESET LINK HAS BEEN SENT TO YOUR REGISTERED EMAIL</p>
</div>

<%- include ../partials/homefooter %>
