<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      body {
        color: #000;
        overflow-x: hidden;
        height: 100%;
        background-color: #8c9eff;
        background-repeat: no-repeat;
      }

      .card {
        z-index: 0;
        background-color: #eceff1;
        padding-bottom: 20px;
        margin-top: 90px;
        margin-bottom: 90px;
        border-radius: 10px;
      }

      .top {
        padding-top: 40px;
        padding-left: 13% !important;
        padding-right: 13% !important;
      }

      #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: #455a64;
        padding-left: 0px;
        margin-top: 30px;
      }

      #progressbar li {
        list-style-type: none;
        font-size: 13px;
        width: 25%;
        float: left;
        position: relative;
        font-weight: 400;
      }

      #progressbar .step0:before {
        font-family: FontAwesome;
        content: "\f10c";
        color: #fff;
      }

      #progressbar li:before {
        width: 40px;
        height: 40px;
        line-height: 45px;
        display: block;
        font-size: 20px;
        background: #c5cae9;
        border-radius: 50%;
        margin: auto;
        padding: 0px;
      }

      #progressbar li:after {
        content: "";
        width: 100%;
        height: 12px;
        background: #c5cae9;
        position: absolute;
        left: 0;
        top: 16px;
        z-index: -1;
      }

      #progressbar li:last-child:after {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        left: -50%;
      }

      #progressbar li:nth-child(2):after,
      #progressbar li:nth-child(3):after {
        left: -50%;
      }

      #progressbar li:first-child:after {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: absolute;
        left: 50%;
      }

      #progressbar li:last-child:after {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      #progressbar li:first-child:after {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      #progressbar li.active:before,
      #progressbar li.active:after {
        background: #651fff;
      }

      #progressbar li.active:before {
        font-family: FontAwesome;
        content: "\2713";
      }

      .icon {
        width: 60px;
        height: 60px;
        margin-right: 15px;
      }

      .icon-content {
        padding-bottom: 20px;
      }

      @media screen and (max-width: 992px) {
        .icon-content {
          width: 50%;
        }
      }
    </style>
  </head>
  <body>
    <div class="container px-1 px-md-4 py-5 mx-auto">
      <div class="card">
        <div class="row d-flex justify-content-between px-3 top">
          <div class="d-flex">
            <h5>
              ORDER
              <span class="text-primary font-weight-bold"><%=trackid%></span>
            </h5>
          </div>
          <div class="d-flex flex-column text-sm-right">
            <p class="mb-0">Expected Arrival <span>01/12/19</span></p>
            <p>
              USPS <span class="font-weight-bold">234094567242423422898</span>
            </p>
          </div>
        </div>
        <!-- Add class 'active' to progress -->
        <div class="row d-flex justify-content-center">
          <div class="col-12">
            <ul id="progressbar" class="text-center">
              <li class="active step0"></li>
              <li class="step0"></li>
              <li class="step0"></li>
              <li class="step0"></li>
            </ul>
          </div>
        </div>
        <div class="row justify-content-between top">
          <div class="row d-flex icon-content">
            <img class="icon" src="https://i.imgur.com/9nnc9Et.png" />
            <div class="d-flex flex-column">
              <p class="font-weight-bold">Order<br />Processed</p>
            </div>
          </div>
          <div class="row d-flex icon-content">
            <img class="icon" src="https://i.imgur.com/u1AzR7w.png" />
            <div class="d-flex flex-column">
              <p class="font-weight-bold">Order<br />Shipped</p>
            </div>
          </div>
          <div class="row d-flex icon-content">
            <img class="icon" src="https://i.imgur.com/TkPm63y.png" />
            <div class="d-flex flex-column">
              <p class="font-weight-bold">Order<br />En Route</p>
            </div>
          </div>
          <div class="row d-flex icon-content">
            <img class="icon" src="https://i.imgur.com/HdsziHP.png" />
            <div class="d-flex flex-column">
              <p class="font-weight-bold">Order<br />Arrived</p>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-end px-3 top">
          <div class="d-flex">
            <h5>
              <form
                action="/payment_gateway/refund"
                method="post"
                id="refundForm"
              >
                <input type="hidden" name="trackid" value="<%=trackid%>" />
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <input type="hidden" name="cost" value="<%=cost%>" />
              </form>
           
            </h5>
          </div>
        </div>
      </div>
    </div>
    <script>
      function refundForm() {
        document.getElementById("refundForm").submit();
      }
    </script>
  </body>
</html>
