<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%= status%>
    <h1>PAYMENT SUCCESS</h1>
    <h2>You will be contacted by our <%=udf2%> specialist with in 2-3 days</h2>
    <script type="text/javascript">
      window.stop();
    </script>
  </body>
</html>
