<%- include ../partials/header %> 
 

 <h1 class="sign_h mt-5">Disclaimer</h1>
 <hr class="line">


<div class="policies mb-5">
       
       <div class="row">
         
          <div class="col-lg-12 policies_container">
               
                <p class="policies_content">

                <ul class="policies_content">
                  <li>The company shall not in any manner be a party to or conduct and control in any manner any transaction between itself and the website users. </li>
                  <li>All terms commercial and contractual shall be agreed upon by the company and the buyers independently.</li>
                  <li>The company does not warrant that the usage of the website shall be error free and undisturbed. The uninterrupted use of this website can be due to reasons outside of the company’s reasonable control including , without limitation, the unavailability, inoperability or interruption of the internet or other telecommunication services. </li>
                  <li>Further, it does not warrant that the results from the use of the products shall be identical as represented by the website.</li>
                  <li>Any discounts or offers displayed on the website shall be directly offered by the the company even when the company explicitly owns the products or when specified otherwise. The company shall also provide additional discounts by their own will and this does not in any manner correspond to the seller.</li>
                  <li>In any case if the product causes any side effects or does not suit the user, the company shall in no manner be responsible or liable for any said side effects. </li>
                  <li>When the user places an order through the website, it will be considered as an offer to buy the product and not as an acceptance of the offer on the seller/company’s behalf. The seller/company has all rights to cancel or terminate any order due to reasons deemed suitable. In case of such an event, the buyer will be duly notified through Email or SMS. </li>
                  <li>If any transaction fee has been paid by the buyer, the same shall be refunded by the seller or company on cancellation of the order. </li>
                  <li>The company in no manner shall be responsible or liable for any nonperformance or breach of contractual terms between the buyer and the seller; or cannot and does not guarantee the performance of any transaction on behalf of any party. </li>
                  <li>The company shall resolve or meditate any issues or complaints that arise out of misinterpretation on either party’s behalf; but, shall not be a party to any mediation or disagreement over the content of any third party sites and makes no representations regarding the content or accuracy of material on such sites. </li>
                  <li>The company takes possession of the products and claims rights over the products offered to the buyer; but, in no manner shall have an obligation or liability to dissolve any disputes regarding rights or title over the products.</li>
                  <li>The company shall not be held responsible for unsatisfactory or delayed performance of any products or services of any kind; wherein, the damages or delay is caused due to, without limitation, products being out of stock, unavailable or backordered.  </li>
                </ul>


                </p> 
          </div>


          
       </div>

     </div>
    









<%- include ../partials/footer %>