<%- include ../partials/header %> 
 

 <h1 class="sign_h mt-5">Privacy Policy</h1>
 <hr class="line">



 <div class="policies mb-5">
   
   <div class="row">
     
      <div class="col-lg-12 policies_container">
           
            <p class="policies_content">

            The below mentioned privacy policy discloses our information gathering, usage and dissemination practices for the Website. By using, accessing or browsing the Website content, the users hereby accept and consent to the terms of this Privacy Policy.<br>
            For the purpose of this privacy policy, wherever the context so requires, you or your shall mean the user and we, us and our shall mean the company.<br>
            The user is requested to note that our Website may contain links to websites of other organizations and when you request access to such external links, they may have different privacy policies specific to those websites. We would like you to read any privacy policies posted on the websites that you visit. If any of these sites do not have a privacy policy via a link from the website’s homepage, you should contact the website owners directly for more information.<br>
            If you do not agree with any terms as mentioned in the following Privacy Policy, please do not use this Website or submit any sensitive personal information. This privacy policy is applicable to anyone who accesses, browses or uses the website.<br>
            The privacy policy is subject to change as and when deemed necessary by the company or shall be updated or renewed so make sure to refer to it periodically. <br><br>
            By acceptance of this privacy policy, the user consents to the collection, storage, transfer and use of the personal information about the user as collected by the company; broadly categorized as-<br> (a) information supplied by Users and <br>(b) information automatically tracked while navigation <br>(c) information collected from any other source (collectively referred to as Information).<br><br> We may receive information about you from other sources, add it to our account information and treat it in accordance with this Policy. If you provide information to the platform provider or other partner, to whom we provide services, your account information and order information may be passed on to us. <br>
            Although, any personally identifiable information may not be treated as sensitive if it is accessible or available on the public domain like any posts, comments, blogs etc. In case you choose to decline to submit personally identifiable information on the Site, we may not be able to provide certain Services on the Site to you. We will make reasonable efforts to notify you of the same at the time of opening your account. In any case, we will not be liable and or responsible for the denial of certain Services to you for lack of you providing the necessary personal information.<br>
            The Company shares User Information with any third party without obtaining the prior consent of the User within the following limited circumstances:<br><br>
            a) When its requested or required by law or by any court or governmental agency or authority to disclose, for the aim of verification of identity, or for the prevention, detection, investigation including but not limited to, of cyber incidents, or for prosecution and punishment of offences.<br><br>
            b) The Company proposes to share such Information to conduct its business and to share such Information within its group companies and officers and employees of such group companies for the purpose of processing personal information on its behalf. We also make sure that these recipients of such information comply with processing such information based on our instructions and supported with this Policy and any other appropriate confidentiality and security measures.<br><br>
            c) The Company may present Information to our advertisers and any additional third parties - to help them understand our audience and confirm the value of advertising on our Site – however it is usually in the form of aggregated statistics on traffic to various pages within our site.<br><br>
            d) The company may share your Information to enforce or protect our rights or any or all of its affiliates, associates, employees, directors or officers once we have reason to believe that disclosing Information of User(s) is important when anyone else could be harmed by such activities.<br><br>
            The company is committed to protecting your personal privacy. If you have any questions about our sincerity to protect your personal privacy, or if you require additional information please contact us.


            </p> 
      </div>


      
   </div>

 </div>










 <%- include ../partials/footer %>