<%- include ../partials/header %> 
 

 <h1 class="sign_h mt-5">Terms Of Use</h1>
 <hr class="line">




 <div class="policies mb-5">
   
   <div class="row">
     
      <div class="col-lg-12 policies_container">
           <h6 class="policies_heading">1. Use of Platform</h6>
           <p class="policies_content">The said platform being the website is owned by the company and these terms of use govern your use of our site and use of the products and services. Do make sure to refer to these terms and conditions periodically as they might be amended or updated periodically. By use/access of the website you understand that you have agreed to contract with the company and to comply including the related company obligations. You understand that the access/use is available only to persons who can form legally binding contracts under the Indian Contracts Act, 1872. Persons who are defined as ‘incompetent to contract’ are not eligible to access/use of the website.  ACCESSING, BROWSING OR USING THE WEBSITE IN ANY WAY DIRECTLY INDICATES YOUR AGREEMENT TO THESE TERMS AND CONDITIONS. </p> 
      </div>


       <div class="col-lg-12 policies_container">
           <h6 class="policies_heading">2. Privacy</h6>
           <p class="policies_content">We understand the importance of safeguarding your information and have a specific privacy policy. Do refer to the privacy policy as your continued use of the site will directly imply your acceptance.</p> 
      </div>

      <div class="col-lg-12 policies_container">
           <h6 class="policies_heading">3. Product Information</h6>
           <p class="policies_content">The company tries to be as accurate as possible about the product information and descriptions mentioned on the platform. The product pictures are indicative and may not match the actual product. The results may or may not be exactly identical as represented on the website. The company reserves the right to correct, change or update information, error or inaccuracies at any time without providing prior notice.</p> 
      </div>


      <div class="col-lg-12 policies_container">
           <h6 class="policies_heading">4. Pricing Information</h6>
           <p class="policies_content">The company strives to provide accurate product and pricing information yet, errors may occur. In the event that an item is wrongly priced, the company may, at its discretion, contact you. PRICES AND AVAILABILITY OF THE PRODUCTS AS DISPLAYED ON THE WEBSITE ARE SUBJECT TO CHANGE AT THE COMPANY’S DISCRETION AND CAN BE DONE WITHOUT PRIOR NOTICE. </p> 
      </div>


      <div class="col-lg-12 policies_container">
           <h6 class="policies_heading">5. Mode of Payment</h6>
           <p class="policies_content">For the products available on the site, either of the following modes of payment can be opted:<br>
           1. Credit cards, Debit cards, Net banking and Wallets<br>
           2. Cash on Delivery
           </p>

      </div>



      <div class="col-lg-12 policies_container">
           <h6 class="policies_heading">6. Cancellations, Returns and Refunds</h6>
           <p class="policies_content">Only products that are received in a damaged/defective state or are past their expiration date or a wrong product has been delivered. Such products will only be accepted when returned in original packaging, in an unused and sealed condition. When the return is accepted, the customer shall be refunded of the money value of the said products. In cases of replacement, it will be subject to availability of the products.</p> 
      </div>


      <div class="col-lg-12 policies_container">
           <h6 class="policies_heading">7. Governing Law and Jurisdiction</h6>
           <p class="policies_content">The terms of use as mentioned are in accordance with the applicable laws of India. Any dispute arising in interpretation or otherwise between the parties shall be referred to an independent arbitrator, appointed mutually and his decision shall be final.<br>
           For any disputes that arise related to orders outside India, international arbitration rules of Indian arbitration and conciliation act 1996 shall apply. 
          </p> 
      </div>

       <div class="col-lg-12 policies_container">
           <h6 class="policies_heading">8. Indemnification</h6>
           <p class="policies_content">You agree to indemnify, defend and hold harmless the company and its affiliates from and against any losses, damages and liabilities including legal fees arising out of violation of these terms, use or misuse of access of the website. The company reserves the right to employ separate counsel and assume that the exclusive defense and control of any matter otherwise is subject to indemnification by you.</p> 
      </div>

       <div class="col-lg-12 policies_container">
           <h6 class="policies_heading">9. Grievance Redressal Mechanism</h6>
           <p class="policies_content">Any complaints or concerns with respect to content and/or comment of breach of these terms and/or to report any abuse of law with regard to the website, can be taken up with our Grievance Redressal officer. </p> 
      </div>

   </div>

 </div>












 <%- include ../partials/footer %>